@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:300,400,500,700,900&display=swap");

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  padding-top: 6.25rem;
}

body#login{
  padding-top: 0!important;
}

@media (min-width: 768px) {
  body {
    padding-top: 6.5rem;
  }
  
  body#login{
    padding-top: 0!important;
  }
}

@media (min-width: 1024px) {
  body {
    padding-top: 7.5rem;
  }
 
  body#login{
    padding-top: 0!important;
  }
}

/*********Styles of html tags**********/
a:hover {
  text-decoration: none !important;
}

p {
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

@media (min-width: 768px) {
  p {
    font-size: 1.125rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
  color: #03224e;
  margin-bottom: 0 !important;
}

hr {
  background-color: #28cbe4;
  border-top: 0;
  height: 0.1875rem;
  margin-top: 0.5rem;
}

ul li {
  list-style: none;
}

ul {
  padding-left: 0;
}

ul li a {
  color: #03224e;
  font-size: 1rem;
  line-height: 1;
}

ol {
  padding-left: 1.5rem;
}

@media (min-width: 992px) {
  ul li a {
    font-size: 1.125rem;
    line-height: 2;
  }
}

/*********Rewriting boostrap styles**************/
.btn {
  border-radius: 0 !important;
  font-size: 1rem;
  font-family: "Roboto", sans-serif !important;
  display: block;
  font-weight: 500;
}

.btn-primary {
  background-color: #03224e !important;
  border-color: transparent !important;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.btn-secondary {
  background-color: #85a2b8 !important;
  border-color: transparent !important;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.btn-form-primary {
  background-color: #03224e !important;
  border-color: transparent !important;
  color: #fff;
  opacity: 0.65;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.btn-form-primary:hover{
  color: #fff;
}

.btn-primary:hover {
  box-shadow: 20rem 0 #17a2b8 inset, -20rem 0 #17a2b8 inset !important;
  border-color: #17a2b8 !important;
}

.btn-secondary:hover {
  box-shadow: 20rem 0 #437092 inset, -20rem 0 #437092 inset !important;
  border-color: #437092 !important;
} 

.btn-primary.focus,
.btn-primary:focus,
.btn-secondary.focus,
.btn-secondary:focus {
  box-shadow: none !important;
}

.btn-outline-light {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.btn-outline-light:focus {
  box-shadow: none !important;
}

.btn-outline-light:hover {
  color: #03224e !important;
  box-shadow: 20rem 0 #59d0e3 inset, -20rem 0 #59d0e3 inset !important;
  border-color: #59d0e3 !important;
}

@media (min-width: 500px) {
  .btn {
    font-size: 1.125rem;
    padding: 0.375rem 3.5rem;
    display: inline-block;
  }

  .btn.btn-primary {
    padding: 0.375rem 2.5rem;
  }
}

.init.modal-content {
  background-color: transparent !important;
  border: 0 !important;
  border-radius: 0 !important;
}

.close {
  color: #fff !important;
  opacity: 0.7 !important;
}

.init .close:hover {
  color: #fcc224 !important;
}

.modal-form .close:hover {
  color: #03224e!important;
}

/*Navegation menu*/
header {
  background: -webkit-linear-gradient(#f8b524, #fcc224);
  background: linear-gradient(#f8b524, #fcc224);
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
}

.menu {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu .container-menu .logo .logo-name img {
  display: none;
}

.menu .container-menu .logo .btn-menu {
  display: none;
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
}

.menu .menu-link {
  margin: 0 auto;
}

.menu .menu-link a {
  width: 10rem;
  display: inline-block;
  padding: 3.1rem 0;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #03224e;
  font-weight: 500;
  font-size: 1.125rem;
  vertical-align: middle;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu .menu-link a.opc {
  line-height: 1.25;
  padding: 2.5rem 0rem;
}

.menu .menu-link a.logo-center {
  width: auto;
  padding: 0.8rem 1rem;
}

.menu .menu-link .logo-center img {
  display: inline-block;
  height: 6.25rem;
}

.menu .menu-link a:hover {
  background: -webkit-linear-gradient(
    bottom,
    rgb(23, 162, 184) 0%,
    rgb(1, 161, 221) 100%
  );
  background: linear-gradient(
    0deg,
    rgb(23, 162, 184) 0%,
    rgb(1, 161, 221) 100%
  );
  color: #fff;
}
/*Menu Effects*/
.headroom {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.headroom--pinned {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.headroom--unpinned {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

@media (max-width: 1119px) {
  .menu .menu-link a {
    width: 8.8rem;
    padding: 3.1rem 0;
  }

  .menu .menu-link a.logo-center {
    width: auto;
    padding: 0.8rem 0.5rem;
  }
}

@media (max-width: 1023px) {
  .menu {
    width: 90%;
    padding: 0.5rem 0;
  }

  .menu .container-menu .logo .btn-menu {
    display: block;
  }

  .menu .container-menu .logo .btn-menu:hover {
    color: #03224e;
  }

  .menu .container-menu {
    width: 100%;
  }

  .menu .container-menu .logo .logo-name img {
    display: block;
    height: 5.625rem;
  }

  .menu .container-menu .logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .menu .menu-link .logo-center {
    display: none;
  }

  .menu .menu-link {
    position: absolute;
    background: rgba(251, 206, 84, 0.95);
    height: 100vh;
    width: 100%;
    top: 6.5rem;
    left: -100%;
    z-index: 1000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .menu .menu-link a {
    padding: 0.9375rem;
    display: block;
    width: 100%;
    border-bottom: 0.125rem solid rgba(252, 194, 36, 0.4);
  }

  .menu .menu-link a.opc {
    padding: 0.9375rem;
  }
}

/*Utilities*/
.img-back {
  background-image: url("../img/fondo.png");
  background-position: center center;
  background-size: cover;
  position: relative;
}

.img-back:before {
  content: "";
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
}

.img-back h2 {
  position: relative;
}

.img-back-blue {
  background-image: url("../img/img-instalacion1.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.img-back-blue:before {
  content: "";
  width: 100%;
  position: absolute;
  background: rgb(16, 116, 132);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
}

.h-total{
  height: 100vh;
}

.content-back-blue {
  position: relative;
  text-align: center;
}

.content-back-blue h2,
.content-back-blue p {
  color: #fff;
}

@media (min-width: 768px) {
  .content-back-blue hr {
    width: 50%;
    margin: 0.1rem auto 1rem;
  }
}

.text-back-blue span {
  font-weight: 700;
}

.h-md-back-3 {
  height: 300px;
}

.h-md-back-2 {
  height: 250px;
}

/**********index page********/

/*Modal section*/

@media (min-width: 1200px) {
  .modal-content img {
    height: 500px;
  }
}

/*Banner*/
.banner {
  position: relative;
  width: 100%;
  height: calc(60vh - 5.6875rem);
  background-position: center center;
  background-size: cover;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-animation: banner 16s infinite linear;
  animation: banner 16s infinite linear;
}

@media (min-width: 1200px) {
  .banner {
    height: calc(85vh - 5.6875rem);
  }
}

.banner-content {
  background: rgba(16, 116, 132, 0.6);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-banner {
  font-family: "Roboto", sans-serif;
  font-size: 1.875rem;
  font-weight: 900;
  padding-bottom: 0.9375rem;
  text-align: center;
}

@media (min-width: 1024px) {
  .header-banner {
    font-size: 3.5rem;
  }
}

.sub-header-banner {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  padding: 0 1.25rem;
  text-align: center;
  font-weight: 500;
}

@media (min-width: 768px) {
  .sub-header-banner {
    font-size: 1.875rem;
  }
}

@-webkit-keyframes banner {
  0% {
    background-image: url("../img/img-banner1.jpg");
  }
  25% {
    background-image: url("../img/img-banner1.jpg");
  }
  26% {
    background-image: url("../img/img-banner2.jpg");
  }
  50% {
    background-image: url("../img/img-banner2.jpg");
  }
  51% {
    background-image: url("../img/img-banner3.jpg");
  }
  75% {
    background-image: url("../img/img-banner3.jpg");
  }
  76% {
    background-image: url("../img/img-instalacion1.jpg");
  }
  100% {
    background-image: url("../img/img-instalacion1.jpg");
  }
}

@keyframes banner {
  0% {
    background-image: url("../img/img-banner1.jpg");
  }
  25% {
    background-image: url("../img/img-banner1.jpg");
  }
  26% {
    background-image: url("../img/img-banner2.jpg");
  }
  50% {
    background-image: url("../img/img-banner2.jpg");
  }
  51% {
    background-image: url("../img/img-banner3.jpg");
  }
  75% {
    background-image: url("../img/img-banner3.jpg");
  }
  76% {
    background-image: url("../img/img-instalacion1.jpg");
  }
  100% {
    background-image: url("../img/img-instalacion1.jpg");
  }
}

/*Welcome section */
.content-bienvenida p {
  text-align: justify;
  line-height: 2;
}

.img-bienvenida {
  display: none;
}

@media (min-width: 992px) {
  .sec-bienvenida {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .img-bienvenida {
    display: block;
    text-align: center;
  }
}

/*Educative offer section*/
.img-oferta {
  background-image: url("../img/img-instalacion2.jpg");
  background-position: center center;
  background-size: cover;
  height: 15.625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.img-oferta:before {
  content: "";
  width: 100%;
  height: 15.625rem;
  position: absolute;
  background: -webkit-linear-gradient(left, #089588, #03224e);
  background: linear-gradient(90deg, #089588, #03224e);
  opacity: 0.7;
}

.text-oferta {
  z-index: 1;
}

.text-oferta h4 {
  color: #fff;
}

@media (min-width: 768px) {
  .text-oferta {
    width: 60%;
  }
}

/*Link section*/
.text-primaria p {
  font-family: "Roboto", sans-serif !important;
  text-align: center;
  color: #03224e;
  font-weight: 500;
  line-height: 2;
}

@media (min-width: 768px) {
  .text-primaria p {
    text-align: justify;
    line-height: 1.5;
  }
}

.text-primaria p span {
  color: #c80b63;
  font-weight: 600;
}

.btn-sec-1 {
  display: none;
}

.btn-sec-2 {
  display: block;
}

@media (min-width: 768px) {
  .text-primaria {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    padding-right: 2.5rem;
  }

  .img-back .btn-sec-1 {
    display: inline-block;
  }

  .img-back .btn-sec-2 {
    display: none;
  }
}

@media (min-width: 1024px) {
  .text-primaria p {
    font-size: 1.375rem;
    text-align: left;
    line-height: 2;
  }
}

/*Contact section*/
.sec-contacto {
  background: -webkit-linear-gradient(#089588, #315993);
  background: linear-gradient(#089588, #315993);
  text-align: center;
}

.sec-contacto p {
  font-family: "Roboto", sans-serif !important;
  color: #fff;
  text-align: center;
}

.sec-contacto .header-contacto p {
  font-weight: 600;
  font-size: 1.125rem;
}

@media (min-width: 768px) {
  .sec-contacto .header-contacto p {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .sec-contacto .header-contacto p {
    font-size: 1.5rem;
  }
}

/*Testimonials section*/
.sec-testimonios {
  background-image: url("../img/img-testimonios.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
}

.sec-testimonios:before {
  content: "";
  width: 100%;
  position: absolute;
  background-color: #17a2b8;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
}

.calificacion {
  color: #ffab00;
}

@media (min-width: 768px) {
  .sec-testimonios .card {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .sec-testimonios .card {
    width: 100%;
    margin: 0;
    height: 19.6875rem;
  }

  .sec-testimonios .card-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .sec-testimonios .card {
    height: 16.875rem;
  }
}

.sec-testimonios h2,
.sec-testimonios h5,
.sec-testimonios p,
.sec-testimonios h4 {
  position: relative;
  color: #ffffff;
}

.calificacion {
  color: #ffab00;
}

@media (min-width: 768px) {
  .sec-testimonios button.btn {
    width: 60%;
  }
}

@media (min-width: 992px) {
  .sec-testimonios button.btn {
    width: 50%;
  }
}

/*Last events section*/
.card-title h5 {
  color: #03224e;
}

@media (min-width: 1024px) {
  .sec-eventos .card {
    height: 580px;
  }
}

.sec-eventos .card-text {
  font-size: 1rem !important;
  text-align: justify;
}

.far.fa-calendar-alt {
  color: #f8b624;
}

/**********footer***********/

/*first section*/
.sec-footer {
  font-family: "Roboto", sans-serif;
  background: -webkit-linear-gradient(#ffd970, #f8b524);
  background: linear-gradient(#ffd970, #f8b524);
  color: #03224e;
}

.img-footer {
  height: 7.75rem;
}

.img-footer-2 {
  display: none;
}

footer hr {
  background-color: #f36e21;
}

@media (min-width: 768px) {
  .img-footer {
    display: none;
  }

  .img-footer-2 {
    display: block;
  }

  .size-img-footer {
    width: 6.25rem;
  }
}

@media (min-width: 992px) {
  .img-footer {
    display: block;
    height: auto;
    padding: 2.5rem 4rem;
  }

  .img-footer-2 {
    display: none;
  }
}

footer p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

footer a {
  color: #03224e;
}

footer .sec-footer ul li a:hover {
  color: #a6310e;
}

footer .sec-footer .redes a:hover {
  color: #a82626;
}
.icon {
  font-size: 1.25rem;
}

.icon-2 {
  font-size: 1.5625rem;
}

/*second section*/
.sec-copyright {
  background-color: #041226;
  text-align: center;
}

.sec-content-copy p,
.sec-content-copy a {
  color: #ffffff;
}

.sec-content-copy a:hover {
  color: #17a2b8;
}

.nav-footer a {
  display: block;
}

@media (min-width: 768px) {
  .sec-content-copy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-footer a {
    display: inline-block;
    border-left: 0.0625rem solid #ffffff;
    padding-left: 0.3125rem;
  }

  .nav-footer a:first-of-type {
    border-left: 0;
    padding-left: 0;
  }
}

/********Page contacto.php**********/

.sec-contact {
  background-image: url("../img/img-instalacion1.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
}

.sec-contact:before {
  content: "";
  width: 100%;
  position: absolute;
  background: rgb(16, 116, 132);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
}

.content-contact {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.text-contact,
.form-contact {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.text-contact p span {
  font-weight: bolder;
}

@media (min-width: 768px) {
  .content-contact {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .form-contact {
    -webkit-flex-basis: 60%;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
  }

  .text-contact {
    -webkit-flex-basis: calc(40% - 2.5rem);
    -ms-flex-preferred-size: calc(40% - 2.5rem);
    flex-basis: calc(40% - 2.5rem);
  }
}

@media (min-width: 1024px) {
  .form-contact {
    -webkit-flex-basis: 55%;
    -ms-flex-preferred-size: 55%;
    flex-basis: 55%;
  }

  .text-contact {
    -webkit-flex-basis: calc(45% - 4rem);
    -ms-flex-preferred-size: calc(45% - 4rem);
    flex-basis: calc(45% - 4rem);
  }
}

.text-contact h3,
.text-contact p {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.content-contact h2,
.content-contact p {
  color: #fff;
}

.form-contact{
  background-color: #f7f9f9;
  width: 80%;
  padding-bottom: 0.625rem;
  border-radius: 0.0625rem;
}

.form-login{
  background-color: #ffffff; 
  padding: 0.625rem 0 1rem 0;
  border-radius: 0.0625rem;
}

@media (min-width: 1024px) {
  .form-contact,
  .form-opinion{
    padding: 0 1.25rem 0.625rem;
  }
}

form .group {
  position: relative;
  margin: 2.1rem auto;
}

input[type="text"],input[type="password"],
textarea {
  font-family: "Roboto", sans-serif;
  color: #646161;
  font-size: 1rem;
  padding: 0.625rem 0.625rem 0.625rem 0.3125rem;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 0.0625rem solid #49454567;
  resize: none;
}

.form-contact input[type="text"],
.form-contact textarea {
  background-color: #f7f9f9;
}

@media (min-width: 768px) {
  input[type="text"],input[type="password"],
  textarea {
    font-size: 1.125rem;
  }
}

input[type="text"]:focus,input[type="password"]:focus,
textarea:focus {
  outline: none;
  color: #03224e;
}

input[type="password"]:focus ~ label.float-label,
input[type="password"]:valid ~ label.float-label,
input[type="text"]:focus ~ label.float-label,
input[type="text"]:valid ~ label.float-label,
textarea:focus ~ label.float-label,
textarea:valid ~ label.float-label {
  position: absolute;
  top: -1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #1393a8;
}

@media (min-width: 768px) {
  input[type="password"]:focus ~ label.float-label,
  input[type="password"]:valid ~ label.float-label,
  input[type="text"]:focus ~ label.float-label,
  input[type="text"]:valid ~ label.float-label,
  textarea:focus ~ label.float-label,
  textarea:valid ~ label.float-label {
    font-size: 1.125rem;
  }
}

label.float-label {
  font-family: "Roboto", sans-serif;
  color: #03224e;
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  left: 0.625rem;
  top: 0.9375rem;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  pointer-events: none;
}

@media (min-width: 768px) {
  label.float-label {
    font-size: 1.125rem;
  }
}

.two-group label.float-label {
  left: 1.625rem;
}

input[type="text"]:focus ~ .barra:before,
input[type="password"]:focus ~ .barra:before,
textarea:focus ~ .barra:before {
  width: 100%;
}

.barra {
  position: relative;
  display: block;
  width: 100%;
}

.barra:before {
  content: "";
  height: 0.15rem;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: #1a2980; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1a2980,
    #26d0ce
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(left, #1a2980, #26d0ce);
  background: linear-gradient(
    to right,
    #1a2980,
    #26d0ce
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  left: 0%;
}

.barra-error{
  position: relative;
  display: block;
  width: 100%;
  height: 0.12rem;
  bottom: 2px;
  background: #a82626;  
}

button.btn {
  width: 100%;
  display: block;
}

@media (min-width: 768px) {
  button.btn {
    width: 50%;
    display: inline-block;
  }

  #btnLogin{
    width: 60%;
  }
}

@media(min-width: 992px){
  #btnLogin{
    width: 70%;
  }
}

@media (min-width: 1200px) {
  button.btn {
    width: 40%;
  }
}

.sec-map {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.text-horario {
  color: #03224e;
}

@media (min-width: 768px) {
  .text-map {
    width: 50%;
  }

  .content-horario {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header-horario {
    width: 50%;
  }
}

/******** Page nosotros.php ********/

@media (min-width: 768px) {
  .vision hr {
    width: 50%;
    margin: 0.1rem auto 1rem;
  }
}

.text-vision {
  text-align: justify;
  line-height: 1.8;
}

.content-nosotros,
.sec-admin h3 {
  position: relative;
}

.content-nosotros {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 1.25rem;
}

.img-nosotros,
.text-nosotros {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.text-nosotros {
  padding: 1rem 0;
}

.text-nosotros p {
  text-align: justify;
  line-height: 1.8;
}

@media (min-width: 768px) {
  .content-nosotros {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .img-nosotros {
    -webkit-flex-basis: 55%;
    -ms-flex-preferred-size: 55%;
    flex-basis: 55%;
  }

  .text-nosotros {
    -webkit-flex-basis: calc(45% - 1.5rem);
    -ms-flex-preferred-size: calc(45% - 1.5rem);
    flex-basis: calc(45% - 1.5rem);
    padding: 0;
  }

  .text-nosotros p {
    line-height: 2;
  }
}

@media (min-width: 1024px) {
  .content-nosotros {
    padding: 1.25rem 1.25rem 0;
  }
}

@media (min-width: 1200px) {
  .content-nosotros {
    padding: 1.25rem 2.8125rem 0;
  }

  .img-nosotros {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  .text-nosotros {
    -webkit-flex-basis: calc(50% - 2.5rem);
    -ms-flex-preferred-size: calc(50% - 2.5rem);
    flex-basis: calc(50% - 2.5rem);
    padding: 0;
  }
}

.sec-admin p {
  color: #03224e;
}

.sec-admin img {
  width: 12.5rem;
  padding: 0.625rem;
}
.sec-admin hr {
  width: 30%;
  margin: 0.3rem auto 1rem;
}

.sec-opinion {
  background: -webkit-linear-gradient(#089588, #315993);
  background: linear-gradient(#089588, #315993);
  color: #fff;
  text-align: center;
}

/*Opinion form*/
.form-opinion,.form-login {
  position: relative;  
}

.form-opinion .group{
  margin: 1.5rem 0;
}

.modal-form .modal-content{
  border: 0!important;
  border-radius: 0!important;
}

.modal-form .modal-header{
  background: #f4a700!important;
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
}

.form-star{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.8rem;
}

.clasificacion{
  direction: rtl;/* right to left */
  unicode-bidi: bidi-override;/* bidi de bidireccional */
}

.label-star{
  color: #6e6e6e;
  font-size: 30px;
}

.label-star:hover{
  color: #f4a700;
}

.label-star:hover,
.label-star:hover ~ label {
  color: orange;
}

.clasificacion input[type="radio"]{
  display:none;
}

.clasificacion input[type="radio"]:checked ~ label{
  color: orange;
}

.btn-form-opinion{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn-form-opinion button.btn{
  width: auto!important;  
  padding: 0.5rem 1rem!important;
}

.btn-form-opinion>* {
  margin: .25rem;
  margin-top: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  margin-left: 0.25rem;
}

#error-nombre, #error-email,
#error-votacion, #error-mensaje,
{
  color: #dc3545;
  text-align: left;
  font-size: 14px;
  padding: 0.5rem;
  display: none;
  transition: all .5s ease;
} 

.error-login{
  padding: 0.1rem;
  color: #fff;
  margin: 1.5rem 0;
  font-size: 0.875rem;
  border: none;
  background-color: #dc3545;
  transition: opacity 0.6s ease-in-out;
}

.error{
  color: #a82626;
  text-align: left;
  font-size: 14px;
  padding: 0.5rem;
  transition: all .5s ease;
} 

#loaders {
  text-align: center; 
  margin: 1.5rem 0;
}

#loaders p{
  color: #03224e;
  font-weight: 700;
}

#loaders img {
  height: 95px;
  margin: 0 auto;
  /* display: none; */
}

#spinner {
  display: none;
  height: 90px;
}

/*Page gallery*/
.sec-gallery .pgwSlideshow {
  position: relative;
}

.pgwSlideshow {
  background: #e6e6e64a !important;
}

.pgwSlideshow .ps-list {
  border-top: 0 !important;
  box-shadow: 0 0.625rem 0.625rem -0.3125rem #b3b2b2 inset !important;
  background: #ccc9c9 !important;
}

.pgwSlideshow .ps-list .ps-next {
  z-index: 10;
}  

.pgwSlideshow .ps-list .ps-prev {
  z-index: 10;
} 

/*Privacy Notice Page*/
.text-aviso {
  position: relative;
}

.text-aviso p,
.text-aviso ol li {
  font-family: "Open Sans", sans-serif;
  line-height: 2;
  font-size: 1rem;
  text-align: justify;
  padding-bottom: 0.625rem;
  color: #363535;
}

.text-aviso ol li:last-of-type {
  padding-bottom: 0;
}

/*********Educational Offer Page************/

/*inscription section*/
.img-inscrip {
  background-image: url("../img/img-instalacion2.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
}

.img-inscrip:before {
  content: "";
  width: 100%;
  position: absolute;
  background: -webkit-linear-gradient(left, #089588, #03224e);
  background: linear-gradient(90deg, #089588, #03224e);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
}

.content-inscrip {
  position: relative;
  text-align: center;
  width: 80%;
}

.content-inscrip h4,
.content-inscrip h5 {
  color: #fff;
}

/**************service page************/

/*educational model section*/
.img-serv {
  width: 9.375rem;
}

.text-horario {
  font-weight: 700;
  color: #117a8b;
  font-size: 1.125rem;
}

.content-model p {
  font-weight: 600;
  text-align: center;
}

/*food service section*/

.content-service p {
  font-size: 1rem;
  text-align: justify;
  padding-top: 0.625rem;
  line-height: 1.7;
}

@media (min-width: 992px) {
  .content-service p {
    font-size: 1.125rem;
    padding-top: 0.3125rem;
    line-height: 2;
  }
}

@media (min-width: 1200px) {
  .content-service p {
    padding-top: 0.625rem;
  }
}

/*After school section*/
.sec-after {
  background: #dcf1f4;
}

.content-after {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .content-after {
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .content-after .item-extra {
    -webkit-flex-basis: calc(33.3% - 1rem);
    -ms-flex-preferred-size: calc(33.3% - 1rem);
    flex-basis: calc(33.3% - 1rem);
  }
}

.item-extra {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  color: #fff;
  position: relative;
  overflow: hidden;
  text-align: center;
  background: #000000;
}

.item-extra img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

.item-extra .content-extra {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.content-extra h4 {
  width: 80%;
}

.item-extra .content-extra:before {
  position: absolute;
  top: 30%;
  right: 1.875rem;
  bottom: 30%;
  left: 1.875rem;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  content: "";
  opacity: 1;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

@media (min-width: 768px) {
  .item-extra .content-extra:before {
    top: 25%;
    bottom: 25%;
  }
}

@media (min-width: 1200px) {
  .item-extra .content-extra:before {
    opacity: 0;
    background-color: #ffffff;
  }
}

.item-extra h4 {
  color: #fff;
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s, transform 0.35s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

@media (min-width: 1200px) {
  .item-extra h4 {
    opacity: 0;
    -webkit-transform: translate3d(0%, 50%, 0);
    transform: translate3d(0%, 50%, 0);
  }
}

.item-extra img {
  opacity: 0.45;
}

@media (min-width: 1200px) {
  .item-extra img {
    opacity: 1;
  }

  .item-extra:hover img {
    opacity: 0.3;
  }
}

.item-extra:hover .content-extra h4 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.item-extra:hover .content-extra:before {
  background: rgba(255, 255, 255, 0);
  top: 3.125rem;
  bottom: 3.125rem;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

@media (min-width: 768px) {
  .item-extra:hover .content-extra:before {
    top: 1.25rem;
    bottom: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .item-extra:hover .content-extra:before {
    top: 1.875rem;
    bottom: 1.875rem;
  }
}

@media (min-width: 1200px) {
  .item-extra:hover .content-extra:before {
    top: 3.125rem;
    bottom: 3.125rem;
  }
}

/*Inscripctions page*/
.content-form{
  position: relative;
}

.f1{
  position: relative;
  padding: 1.5625rem;
  background: #fff;
}

#list-doc{
  position: relative;
  padding: 1.5625rem;
  background: #fff;
}

.icono-error{
  width: 250px;
  margin: 40px 0;
}

.f1 h5 {
  color: #17a2b8;
}

.p-label {
  font-family: "Roboto", sans-serif;
  color: #6c757d;
  font-weight: 600;  
  margin: 1rem 0 1.4rem 0.3rem;
}

label{
  font-family: "Roboto", sans-serif;
  color: #03224e;
  font-size: 1rem;
  font-weight: 500;  
}

@media (min-width: 768px) {
  label{
    font-size: 1.125rem;
  }
}

.form-radio{
  margin-left: 0.3rem;
}

.form-radio .form-row label{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #212529;
}

.f1 select{
  font-family: "Roboto", sans-serif;
}

.f1 .form-row .group {
  margin: 1rem 0;
}

.f1-button{
  text-align: right;
  margin-top: 30px;
}

.successful{
  padding: 1rem;
  color: #fff;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
  border: 0.0625rem solid #4caf4fa2;
  background-color: #4caf50;
  transition: opacity 0.6s ease-in-out;
  display: none; 
  opacity: 0;
}

.visible{
  opacity: 1;
}

.fa-file-pdf{
  color:#fcc224;
  font-size: 120px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  padding-bottom: 5px;
}

.fa-file-pdf:hover{
  font-size: 130px;
  color: #17a2b8;
}

.link-pdf{
  display: flex;
  flex-direction: column;
  margin: 2rem 0 2.5rem;
}

a.link-pdf{
  color: #03224e;
}

input#esc-procedencia:disabled {
  background-color: #adb5bd0f;
}