@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:300,400,500,700,900&display=swap");

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  padding-top: 6.25rem;
}

@media (min-width: 768px) {
  body {
    padding-top: 6.5rem;
  }
}

@media (min-width: 1024px) {
  body {
    padding-top: 7.5rem;
  }
}

/*********Styles of html tags**********/
a:hover {
  text-decoration: none !important;
}

p {
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

@media (min-width: 768px) {
  p {
    font-size: 1.125rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
  color: #03224e;
  margin-bottom: 0 !important; ;
}

hr {
  background-color: #28cbe4;
  border-top: 0;
  height: 0.1875rem;
  margin-top: 0.5rem;
}

ul li {
  list-style: none;
}

ul {
  padding-left: 0.625rem;
}

ul li a {
  color: #03224e;
  font-size: 1rem;
  line-height: 1;
}

@media (min-width: 992px) {
  ul li a {
    font-size: 1.125rem;
    line-height: 2;
  }
}

/*********Rewriting boostrap styles**************/
.btn {
  border-radius: 0 !important;
  font-size: 1rem;
  font-family: "Roboto", sans-serif !important;
  display: block;
  font-weight: 500;
}

.btn-primary {
  background-color: #03224e !important;
  border-color: transparent !important;
  transition: all 1s;
}

.btn-primary:hover {
  box-shadow: 20rem 0 #17a2b8 inset, -20rem 0 #17a2b8 inset !important;
  border-color: #17a2b8 !important;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: none !important;
}

.btn-outline-light {
  transition: all 1s;
}

.btn-outline-light:focus {
  box-shadow: none !important;
}

.btn-outline-light:hover {
  color: #03224e !important;
  box-shadow: 20rem 0 #59d0e3 inset, -20rem 0 #59d0e3 inset !important;
  border-color: #59d0e3 !important;
}

@media (min-width: 500px) {
  .btn {
    font-size: 1.125rem;
    padding: 0.375rem 3.5rem;
    display: inline-block;
  }

  .btn.btn-primary {
    padding: 0.375rem 2.5rem;
  }
}

/*Navegation menu*/
header {
  background: linear-gradient(#f8b524, #fcc224);
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
}

.menu {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu .container-menu .logo .logo-name img {
  display: none;
}

.menu .container-menu .logo .btn-menu {
  display: none;
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
}

.menu .menu-link {
  margin: 0 auto;
}

.menu .menu-link a {
  width: 10rem;
  display: inline-block;
  padding: 3.1rem 0;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #03224e;
  font-weight: 500;
  font-size: 1.125rem;
  vertical-align: middle;
  transition: all 0.2s;
}

.menu .menu-link a.opc {
  line-height: 1.25;
  padding: 2.5rem 0rem;
}

.menu .menu-link a.logo-center {
  width: auto;
  padding: 0.8rem 1rem;
}

.menu .menu-link .logo-center img {
  display: inline-block;
  height: 6.25rem;
}

.menu .menu-link a:hover {
  background: linear-gradient(
    0deg,
    rgb(23, 162, 184) 0%,
    rgb(1, 161, 221) 100%
  );
  color: #fff;
}
/*Efectos del menu */
.headroom {
  transition: transform 0.3s ease;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}

@media (max-width: 1119px) {
  .menu .menu-link a {
    width: 8.8rem;
    padding: 3.1rem 0;
  }

  .menu .menu-link a.logo-center {
    width: auto;
    padding: 0.8rem 0.5rem;
  }
}

@media (max-width: 1023px) {
  .menu {
    width: 90%;
    padding: 0.5rem 0;
  }

  .menu .container-menu .logo .btn-menu {
    display: block;
  }

  .menu .container-menu {
    width: 100%;
  }

  .menu .container-menu .logo .logo-name img {
    display: block;
    height: 5.625rem;
  }

  .menu .container-menu .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu .menu-link .logo-center {
    display: none;
  }

  .menu .menu-link {
    position: absolute;
    background: rgba(251, 206, 84, 0.95);
    height: 100vh;
    width: 100%;
    top: 6.5rem;
    left: -100%;
    z-index: 1000;
    transition: all 0.3s;
  }

  .menu .menu-link a {
    padding: 0.9375rem;
    display: block;
    width: 100%;
    border-bottom: 0.125rem solid rgba(252, 194, 36, 0.4);
  }

  .menu .menu-link a.opc {
    padding: 0.9375rem;
  }
}

/*Banner*/
.banner {
  position: relative;
  width: 100%;
  height: calc(60vh - 5.6875rem);
  background-position: center center;
  background-size: cover;
  transition: all 0.1s ease-in-out;
  animation: banner 16s infinite linear;
}
/* 
@media (min-width: 768px) {
  .banner {
    height: calc(80vh - 5.6875rem);
  }
} */

@media (min-width: 1200px) {
  .banner {
    height: calc(85vh - 5.6875rem);
  }
}

.banner-content {
  background: rgba(16, 116, 132, 0.6);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-banner {
  font-family: "Roboto", sans-serif;
  font-size: 1.875rem;
  font-weight: 900;
  padding-bottom: 0.9375rem;
  text-align: center;
}

@media (min-width: 1024px) {
  .header-banner {
    font-size: 3.5rem;
  }
}

.sub-header-banner {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  padding: 0 1.25rem;
  text-align: center;
}

@media (min-width: 768px) {
  .sub-header-banner {
    font-size: 1.875rem;
  }
}

@keyframes banner {
  0% {
    background-image: url("../img/img2.jpg");
  }
  25% {
    background-image: url("../img/img2.jpg");
  }
  26% {
    background-image: url("../img/img-evento.jpg");
  }
  50% {
    background-image: url("../img/img-evento.jpg");
  }
  51% {
    background-image: url("../img/img5.jpg");
  }
  75% {
    background-image: url("../img/img5.jpg");
  }
  76% {
    background-image: url("../img/img1.jpg");
  }
  100% {
    background-image: url("../img/img1.jpg");
  }
}

/*Welcome section */
.text-bienvenida {
  text-align: justify;
  font-size: 1rem;
  line-height: 2;
}

.img-bienvenida {
  display: none;
}

@media (min-width: 992px) {
  .sec-bienvenida {
    display: flex;
    align-items: center;
  }

  .img-bienvenida {
    display: block;
    text-align: center;
  }
}

/*Educative offer section*/
.img-oferta {
  background-image: url("../img/img4.jpg");
  background-position: center center;
  background-size: cover;
  height: 15.625rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.img-oferta:before {
  content: "";
  width: 100%;
  height: 15.625rem;
  position: absolute;
  background: linear-gradient(90deg, #089588, #03224e);
  opacity: 0.7;
}

.text-oferta {
  z-index: 1;
}

.text-oferta h4{
  color: #fff;
}

@media (min-width: 768px) {
  .text-oferta {
    width: 60%;
  }
}

/*Link section*/
.sec-primaria {
  background-image: url("../img/fondo.png");
  background-position: center center;
  background-size: cover;
  position: relative;
}

.sec-primaria:before {
  content: "";
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
}

.content-primaria {
  position: relative;
}

.text-primaria p {
  font-family: "Roboto", sans-serif !important;
  text-align: center;
  color: #03224e;
  font-weight: 500;
  line-height: 2;
}

@media (min-width: 768px) {
  .text-primaria p {
    text-align: left;
    line-height: 1.5;
  }
}

.text-primaria p span {
  color: #c80b63;
  font-weight: 600;
}

.btn-sec-1 {
  display: none;
}

.btn-sec-2 {
  display: block;
}

@media (min-width: 768px) {
  .text-primaria {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    padding-right: 2.5rem;
  }

  .sec-primaria .btn-sec-1 {
    display: inline-block;
  }

  .sec-primaria .btn-sec-2 {
    display: none;
  }
}

@media (min-width: 1024px) {
  .text-primaria p {
    font-size: 22px;
    line-height: 2;
  }
}

/*Contact section*/
.sec-contacto {
  background: linear-gradient(#089588, #315993);
  text-align: center;
}

.sec-contacto p {
  font-family: "Roboto", sans-serif !important;
  color: #fff;
  text-align: center;
}

.sec-contacto .header-contacto p {
  font-weight: 600;
  font-size: 1.125rem;
}

@media (min-width: 768px) {
  .sec-contacto .header-contacto p {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .sec-contacto .header-contacto p {
    font-size: 1.5rem;
  }
}

/*Seccion avisos*/
.sec-avisos {
  background-image: url("../img/fondo.png");
  background-position: center center;
  background-size: cover;
  position: relative;
}

.sec-avisos:before {
  content: "";
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.65;
}

.sec-avisos h2 {
  position: relative;
}

/*Testimonials section*/
.sec-testimonios {
  background-image: url("../img/img-testimonios.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
}

.sec-testimonios:before {
  content: "";
  width: 100%;
  position: absolute;
  background-color: #17a2b8;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.75;
}

.calificacion {
  color: #ffab00;
}

@media (min-width: 768px) {
  .sec-testimonios .card {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .sec-testimonios .card {
    width: 100%;
    margin: 0;
    height: 19.6875rem;
  }

  .sec-testimonios .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media(min-width: 1200px) {
  .sec-testimonios .card{
    height: 16.875rem;
  }
}

.sec-testimonios h2 {
  position: relative;
  color: #ffffff;
}

.calificacion {
  color: #ffab00;
}

/*Last events section*/
.sec-eventos {
  background-image: url("../img/fondo.png");
  background-position: center center;
  background-size: cover;
  position: relative;
}

.sec-eventos:before {
  content: "";
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.65;
}

.sec-eventos h2 {
  position: relative;
}

.sec-eventos .card-title h5 {
  color: #03224e;
}

@media (min-width: 768px) {
  .sec-eventos .card {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .sec-eventos .card {
    width: 100%;
    margin: 0;
  }

  .sec-eventos .card img {
    height: auto;
  }

  .sec-eventos .card {
    height: 500px;
  }
}

.sec-eventos .card-text {
  font-size: 1rem !important;
  text-align: justify;
}

/**********footer***********/

/*first section*/
.sec-footer {
  font-family: "Roboto", sans-serif;
  /* background: linear-gradient(#ffea44,#ffab00); 
  background: linear-gradient(#f9e864,#ffa700);*/
  background: linear-gradient(#ffd970, #f8b524);
  color: #03224e;
}

.img-footer {
  height: 7.75rem;
}

.img-footer-2 {
  display: none;
}

footer hr {
  background-color: #f36e21;
}

@media (min-width: 768px) {
  .img-footer {
    display: none;
  }

  .img-footer-2 {
    display: block;
  }

  .size-img-footer {
    width: 6.25rem;
  }
}

@media (min-width: 992px) {
  .img-footer {
    display: block;
    height: auto;
    padding: 2.5rem 4rem;
  }

  .img-footer-2 {
    display: none;
  }
}

footer p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

footer a {
  color: #03224e;
}

footer .sec-footer ul li a:hover {
  color: #a6310e;
}

footer .sec-footer .redes a:hover {
  color: #a82626;
}
.icon {
  font-size: 1.25rem;
}

.icon-2 {
  font-size: 1.5625rem;
}

/*second section*/
.sec-copyright {
  background-color: #041226;
  text-align: center;
}

.sec-content-copy p,
.sec-content-copy a {
  color: #ffffff;
}

.sec-content-copy a:hover {
  color: #17a2b8;
}

.nav-footer a {
  display: block;
}

@media (min-width: 768px) {
  .sec-content-copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-footer a {
    display: inline-block;
    border-left: 0.0625rem solid #ffffff;
    padding-left: 0.3125rem;
  }

  .nav-footer a:first-of-type {
    border-left: 0;
    padding-left: 0;
  }
}

/********Page contacto.php**********/

.sec-contact {
  background-image: url("../img/img1.JPG");
  background-position: center center;
  background-size: cover;
  position: relative;
}

.sec-contact:before {
  content: "";
  width: 100%;
  position: absolute;
  background: rgb(16, 116, 132);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
}

.content-contact {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.text-contact,
.form-contact {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
}

@media (min-width: 768px) {
  .content-contact {
    justify-content: space-between;
    align-items: center;
  }

  .form-contact {
    flex-basis: 60%;
  }

  .text-contact {
    flex-basis: calc(40% - 2.5rem);
  }
}

@media (min-width: 1024px) {
  .form-contact {
    flex-basis: 55%;
  }

  .text-contact {
    flex-basis: calc(45% - 4rem);
  }
}

.text-contact h3,
.text-contact p {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.content-contact h2,
.content-contact p {
  color: #fff;
}

.form-contact{
  background-color: #f7f9f9;
  width: 80%;
  padding-bottom: 0.625rem;
  border-radius: 0.0625rem;
}

@media (min-width: 1024px) {
  .form-contact,.form-opinion {
    padding: 0 1.25rem 0.625rem;
  }
}

form .group {
  position: relative;
  margin: 2.1rem auto;
}

input,
textarea {
  font-family: "Roboto", sans-serif;
  color: #646161;
  font-size: 1rem;
  padding: 0.625rem 0.625rem 0.625rem 0.3125rem;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 0.0625rem solid #49454567;
  resize: none;
}

.form-contact input,
.form-contact textarea{
  background-color: #f7f9f9;
} 

@media (min-width: 768px) {
  input,
  textarea {
    font-size: 1.125rem;
  }
}

input:focus,
textarea:focus {
  outline: none;
  color: #03224e;
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  position: absolute;
  top: -0.875rem;
  font-size: 1rem;
  font-weight: 500;
  color: #1393a8;
}

@media (min-width: 768px) {
  input:focus ~ label,
  input:valid ~ label,
  textarea:focus ~ label,
  textarea:valid ~ label {
    font-size: 1.125rem;
  }
}

label {
  font-family: "Roboto", sans-serif;
  color: #03224e;
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  left: 0.625rem;
  top: 0.9375rem;
  transition: 0.5s ease all;
  pointer-events: none;
}

@media (min-width: 768px) {
  label {
    font-size: 1.125rem;
  }
}

input:focus ~ .barra:before,
textarea:focus ~ .barra:before {
  width: 100%;
}

.barra {
  position: relative;
  display: block;
  width: 100%;
}

.barra:before {
  content: "";
  height: 0.125rem;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: #1a2980; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1a2980,
    #26d0ce
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1a2980,
    #26d0ce
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: 0.3s ease all;
  left: 0%;
}

button.btn {
  width: 100%;
  display: block;
}

@media (min-width: 768px) {
  button.btn {
    width: 50%;
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  button.btn {
    width: 40%;
  }
}

.sec-map {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.text-horario {
  color: #03224e;
}

@media (min-width: 768px) {
  .text-map {
    width: 50%;
  }

  .content-horario {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-horario {
    width: 50%;
  }
}

/******** Page nosotros.php ********/

.sec-history {
  background-image: url("../img/img1.JPG");
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 300px;
  display: flex;
  align-items: center;
}

.sec-history:before {
  content: "";
  width: 100%;
  position: absolute;
  background: rgb(16, 116, 132);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
}

.content-history {
  position: relative;
}

.content-history hr{
  width: 50%;
  margin: 0.1rem auto 1rem;
}

.content-history h2,
.content-history p {
  color: #fff;
}

.text-history span{
  font-weight: 700;
}

.text-vision{
  text-align: justify;
  line-height: 1.8;
}

@media(min-width: 768px) {
  .vision hr{
    width: 50%;
    margin: 0.1rem auto 1rem;
  }
}

.sec-nosotros{
  background-image: url("../img/fondo.png");
  background-position: center center;
  background-size: cover;
  position: relative;
  padding: 1.5rem 0;
}

.sec-nosotros:before {
  content: "";
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
}

.sec-nosotros h2,.sec-nosotros .content-nosotros,.sec-admin h3{
  position: relative;
}

.content-nosotros{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 20px;
}

.img-nosotros, .text-nosotros{
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
}

.text-nosotros{
  padding: 16px 0;
}

.text-nosotros p{
  text-align: justify;
  line-height: 1.8;
}

@media(min-width: 768px) {
  .content-nosotros{
    justify-content: space-between; 
    align-items: center;
  }
  
  .img-nosotros {
    flex-basis: 55%;
  }
  
  .text-nosotros {
    flex-basis: calc(45% - 1.5rem);
    padding: 0;
  }  

  .text-nosotros p{
    line-height: 2;
  }
}

@media(min-width: 1024px) {
  .content-nosotros{
    padding: 20px 20px 0;
  }
}

@media(min-width: 1200px) {
  .content-nosotros{
    padding: 20px 45px 0;
  }
  
  .img-nosotros{
    flex-basis: 50%;
  }
  
  .text-nosotros {
    flex-basis: calc(50% - 2.5rem);
    padding: 0;
  }  
}

.sec-admin p{
  color: #03224e;
}

.sec-admin img{
  width: 200px;
  padding: 10px;
}
.sec-admin hr{
  width: 30%;
  margin: 0.3rem auto 1rem;
}

.sec-opinion{
  background: linear-gradient(#089588, #315993);
  color:#fff;
  text-align: center;  
}

/*Opinion form*/

#formViewHide{
  display: none;
}

.sec-form-opinion{
  background-image: url("../img/fondo.png");
  background-position: center center;
  background-size: cover;
  position: relative;
  padding: 1rem 0;
}

.sec-form-opinion:before {
  content: "";
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
}

.form-opinion{
  position: relative;
  background-color: #9ad4d486;
  width: 90%;
  padding-bottom: 0.625rem;
  padding-top: 1px;
  border-radius: 0.0625rem;
}

@media(min-width: 1024px) {
  .form-opinion{
    width: 70%;
  }
}

.form-opinion input,
.form-opinion textarea{
  background-color: #cae8e8;
} 